@import "./_topSection";
@import "./_footer";
@import "./_icons";
@import "./_aboutmeSection";
@import "./_samples";
@import "./contactMe";

.content{
    display:none;
}
body{
    font-family: 'Zen Kurenaido', sans-serif;
    background-repeat: no-repeat;
    background-size:contain;
    margin: 0;
    background-color: rgb(43, 37, 121);
}

//set width for all sections...............

.widthDiv1{
    width: 49%
}
.widthDiv2{
    width: 50%
}
@media only screen and (max-width: 1000px) {
    .widthDiv1{
        width: 100%
    }
    .widthDiv2{
        width: 100%
    }  
    .fade-in-right, .fade-in-left, .fadeIn{
        // transform: none  !important;
        // opacity: 1  !important;
    }
}

//div animation fade in......................

.fade-in-left{
    transform: translateX(-50%); 
}
.fade-in-right{
    transform: translateX(50%);  
}
.fade-in-right, .fade-in-left, .fadeIn{
    transition: opacity 250ms ease-in, -webkit-transform 1.5s ease-in;
    transition: opacity 250ms ease-in, transform 1.5s ease-in;
    transition: opacity 250ms ease-in, transform 1.5s ease-in,
      -webkit-transform 1.5s ease-in;
    opacity: 0;

}

.fade-in-right.appear, 
.fade-in-left.appear,
.fadeIn.appear{
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
}


//scroll bar------------------------


::-webkit-scrollbar{
  width: 0;  
}
#scrollPath{
position: fixed;
top: 0;
right: 0;
width: 10px;
height: 100%;
background: rgba(255,255,255,0.05);
}
#progressbar{
position: fixed;
top: 0;
right: 0;
width: 10px;
background: linear-gradient(to top, #008aff, #00ffe7 );
animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}
#progressbar:before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7 );
    filter: blur(10px);
}
#progressbar:after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7 );
    filter: blur(30px);
}